.login-input {
  width: 130px;
}

.form-button {
  width: 80px;
  height: 35px;
}

.signup-box {
  margin: auto;
  width: 325px;
  background: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 8px;
}

.settings-box {
  margin: auto;
  width: 325px;
}

.signup-area {
  padding: 30px;
}

.settings-area {
  padding: 30px;
}

.hero-body {
	background-image: radial-gradient(circle at 50% 0%,#2b283c 0%, #1b182c 25%, #100e23 40%);
}