{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<!-- Displays any flashed error messages -->
<section class="hero-body">
	<center>
	<h1 class="title" style="color: white;"> Run An Analysis </h1> 
	</center>
</section>	

{% include "notifications.html" %}

<section class="section">
	<center>
		<h1 class="title"> File Upload</h1>
    	<h2 class="subtitle"> Select a measurement file to use for analysis </h2> 
      	<form action="/uploader" method="POST" enctype="multipart/form-data">
			<input class="button is-dark" type="file" name="file" /> 
			<input class="button is-info" type="submit" value="upload" />
		</form> 
	</center>
</section>
<hr> 
<section class="section">
	<div class="columns">
		<div class="column">
			<center>
				<h1 class="title"> Force Model </h1> 
				<label class="checkbox" checked disabled>
				  	<input type="checkbox" checked disabled>
				  	Point Mass
				</label> <br> 
				<label class="checkbox">
				  	<input type="checkbox">
				  	J2 Perturbation
				</label> <br>
				<label class="checkbox">
				  	<input type="checkbox">
				  	J3 Perturbation
				</label> <br>
				<label class="checkbox">
				  	<input type="checkbox">
				  	Drag 
				</label> <br>
				<label class="checkbox">
				  	<input type="checkbox">
				  	Solar Radiation Pressure
				</label>
    		</center>
		</div>
		<div class="column">
			<center>
				<h1 class="title">  Options </h1> 
				<p>	Options fields</p>
			</center>
		</div>
	</div>
</section>
<hr> 
<section class="section">
	<center>
		<form action="/run" method="POST" enctype="multipart/form-data"> 
			<input class="button is-success" type="submit" value="Run Analysis">
		</form> 
	</center>
</section>

{% endblock %}

{% block scripts %}
	<script src="../static/js/scripts.js"></script>
	<!-- Adds some javascript to close the notifications --> 
	<script>
	document.addEventListener('DOMContentLoaded', () => {
	  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
	    $notification = $delete.parentNode;
	    $delete.addEventListener('click', () => {
	      $notification.parentNode.removeChild($notification);
	    });
	  });
	});
	</script>
{% endblock %}

